nav ul {
    float: right;
    margin: 0;
    padding-right: 42px;
  }

nav ul li {
  display: inline-block;
  padding: 16px 32px;
  color: black;
}

/* .navSignUp {
  display: inline-block;
  padding: 1px 32px;
  color: black;
} */

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

  .navbar {
    position: fixed;
    width: 100%;
    line-height: 60px;
    background-color: white;
  }

  .logo{
    height: 48px;
    float: left;
    margin: 6px 48px;
  }